<ion-header>

  <ion-navbar>
    <ion-title>
      NeverApp
    </ion-title> 

    <ion-buttons end>
      <button ion-button icon-only (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content padding text-center>


<ion-list> 

      <button ion-item 
        *ngFor="let k of productos | keys ; let i = index"
        (click)="tacharProducto(productos[k].tachado,k)">

        <p *ngIf="productos[k].tachado; then thenTemplate; else elseTemplate"></p>
        <ng-template #thenTemplate>
            <del><h2><p text-right>{{productos[k].nombre}}</p></h2></del>
            <del><p text-right>{{productos[k].marca | uppercase}}</p></del>
            <p text-right>En el carrito</p>
        </ng-template>

        <ng-template #elseTemplate>
            <h2><p>{{productos[k].nombre}}</p></h2>
            <p>{{ productos[k].marca | uppercase }}</p>
            <p>{{ productos[k].cantidad }}</p>
        </ng-template>   
      
   
      </button> 
      
    <!--   <div *ngIf="show; else elseBlock">Text to show</div>
      <ng-template #elseBlock>Alternate text while primary text is hidden</ng-template> -->

</ion-list>

  <ion-fab bottom right>
    <button (click)="apuntarProducto()" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

 

</ion-content>